* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {

    color: #e8f4ec;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    text-align: center;
}

span {
    color: #0b842d;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1b1a1a;
    color: gainsboro;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    max-width: 640px;
}

h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #e8f4ec;
    font-family: 'Inter', sans-serif;
    max-width: 640px;
    text-align: left;
}

textarea {
    width: 100%;
    padding: 10px;
    max-width: 640px;
    font-family: 'Open Sans', sans-serif;
    color: #bcc0bd;
    background-color: #302f31;
    border: 1px solid #4a4a4c;
    border-radius: 8px;
    resize: none;
    margin-top: 20px;
}

.code {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: "JetBrains Mono", monospace;
    background-color: #141419;
    border: 1px solid #3b3b3e;
    border-radius: 8px;
    margin-top: 10px;
    min-height: 400px;
}

.codeAnswer {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: "JetBrains Mono", monospace;
    background-color: #141419;
    border: 1px solid #3b3b3e;
    border-radius: 8px;
    margin-top: 10px;
    min-height: 400px;
}

.label {
    margin: 0;
    font-size: 20px;
    color: darkgray;
    font-family: 'Inter', sans-serif;
}

button {
    width: 100%;
    margin-top: 20px;
    max-width: 280px;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #e8f4ec;
    background-color: #0b842d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.title-box {
    max-width: 640px;
    text-align: left;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.title-box h3 {
    margin-bottom: -15px;
    padding-bottom: 0px;
}

.title-box p {
    margin-top: 0;
    text-align: left;
}

/* Container para alinhar Code e Preview lado a lado */
body > div {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    margin-top: 40px;
}

/* Estilo das divs internas (Code e Preview) */
body > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
